---
import { Image } from "astro:assets";

import '../styles/brightline.css';
/**************Image Imports */

import digitalcontentgif from '../assets/Brightline/GIF/DigitalContent.gif';
import keyInitiatives from '../assets/Brightline/PNG/Key Initiatives.png';
import reefuiGIF from '../assets/Brightline/GIF/Brightline UI Recording in Mockup.gif';
import providercontentGIF from '../assets/Brightline/GIF/ProviderContent.gif'
import parentandchild from '../assets/Brightline/PNG/Parent&YoungChild.png';
import brightlinejourney from '../assets/Brightline/PNG/Ideal Brightline Journey.png';
import personThinking from '../assets/Brightline/PNG/Person Thinking.png';
import mxCXchart from '../assets/Brightline/PNG/MemberProvider Experience.png';
import hamidandLeon from '../assets/Brightline/PNG/Mock Coaching.png';
/****************END OF IMAGE IMPORTS */
---

<div class="hero-image"> 
    <img src={digitalcontentgif.src} width={digitalcontentgif.width*.5} height={digitalcontentgif.height*.5} style="max-width: 100%; width:60%; height: auto;"/>
</div>
<div class="casestudy-contentpadding">
<div class="casestudy-hero">
    <h2>Brightline Provider Experience</h2>
    <h4 style="color: #B8B8B8;">Enabling behavioral therapy through digital health tools</h4>
    <div class="casestudy-chiprow">
        <div id="dateChip" class="casestudy-chip">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none">
                <path d="M12.6667 12.668H3.33333V5.33464H12.6667M10.6667 0.667969V2.0013H5.33333V0.667969H4V2.0013H3.33333C2.59333 2.0013 2 2.59464 2 3.33464V12.668C2 13.0216 2.14048 13.3607 2.39052 13.6108C2.64057 13.8608 2.97971 14.0013 3.33333 14.0013H12.6667C13.0203 14.0013 13.3594 13.8608 13.6095 13.6108C13.8595 13.3607 14 13.0216 14 12.668V3.33464C14 2.98101 13.8595 2.64187 13.6095 2.39183C13.3594 2.14178 13.0203 2.0013 12.6667 2.0013H12V0.667969M11.3333 8.0013H8V11.3346H11.3333V8.0013Z" fill="#515155"/>
            </svg>
            <p class="chipText">Jun - Sep 2022</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">UX Design</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">Service Design</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">3 PM</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">5 Design</p>
        </div>
        <div class="casestudy-chip">
            <p class="chipText">3 SWE</p>
        </div>
    </div>
    <p>I worked as a UX Design intern for Brightline’s Provider Experience team. As Brightline is a digital health startup providing behavioral health services for children and their families, most of my internship focused on designing tools for our care providers. 
        <br /><br />
        I was a key partner in the discovery and design of 2 care initiatives, focused on enabling our providers to efficiently deliver care. All of the showcased initiatives and their designs were shipped and positively received by our providers.</p>
</div>
<div id="flex24px" class="casestudy-container">
    <div class="eightpxFlex">
        <h4>Key Initiatives</h4>
        <p>I was a key partner in the discovery and design of 2 care initiatives on the Provider Experience Team, focusing on providing tools to help prepare providers prepare for sessions.</p>
    </div>
        <img class="fullSizeImage" src={keyInitiatives.src} width={keyInitiatives.width} height={keyInitiatives.height} />
</div>
<div id="flex24px" class="casestudy-container48">
    <div class="eightpxFlex">
        <h4>Reef Discovery</h4>
        <p>A complete redesign to the original health record system, Reef, that Brightline providers utilize. This discovery focused on taking Reef from a (overwhelming) MVP designed in early startup stages to a product developed around our Therapist and Coach necessities.</p>
    </div>
    <div class="imagecontainer">
        <img class="fullSizeImage" src={reefuiGIF.src} width={reefuiGIF.width} height={reefuiGIF.height} />
    </div>
</div>
<div id="flex24px" class="casestudy-container48">
    <div class="eightpxFlex">
        <h4>Provider Content Discovery</h4>
        <p>Our in house content was rarely being utilized. We designed an easy to use content repository directly in Reef that enabled blended care service to better serve kids with lower attention spans while opening up our clinical supply during peak care hours.</p>
    </div>
    <div class="imagecontainer">
        <img class="fullSizeImage" src={providercontentGIF.src} width={providercontentGIF.width} height={providercontentGIF.height} />
    </div>
</div>

<section id="research" class="section-topmargin">
    <p>01// Understanding Brightline</p>
    <div class="twocolumn-grid">
        <img class="fullSizeImage" src={parentandchild.src} width={parentandchild.width} height={parentandchild.height} />
        <div class="textinTwoColumn">
            <h4>Who are the coaches and therapists?</h4>
            <p>Brightline is built on meeting families in their day to day lives, and this ultimately relies on the product team empowering our providers to deliver care in a timely manner.
                <br />
                <br />
                As an intern joining a high-paced startup, I had a lot of catching up to do, from understanding the Brightline business model to capturing the pain points and struggles our Provider team was facing.</p>
        </div>
    </div>
    <div id="flex24px" class="casestudy-container48">
        <h4>Ideal Brightline Journey</h4>
        <img class="fullSizeImage" src={brightlinejourney.src} width={brightlinejourney.width} height={brightlinejourney.height} />
    </div>

    <div class="casestudy-container48">
        <p class="graySpacedSectionHeader">RESEARCH SUMMARY</p>
        <div class ="threeColumn">
            <div class="columnedTextContainer">
                <b>1/ Review Existing Research</b>
                <p class="graySubText">I reviewed existing UXR studies and created my own based on recorded viewing parties.</p>
            </div>
            <div class="columnedTextContainer">
                <b>2/ Analyze Provider Survey</b>
                <p class="graySubText">I synthesized the data from our quarterly survey into quantifiable metrics, guiding our product initiatives.</p>
            </div>
            <div class="columnedTextContainer">
                <b>3/ Conduct Mock Coaching</b>
                <p class="graySubText">I conducted mock sessions with our coaches to step into a true Brightline care experience.</p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <p class="graySpacedSectionHeader">REVIEWING EXISTING RESEARCH</p>
    <p>To better understand the Brightline business and needs of our providers and families,
        I reviewed our existing research study focused on the relationship that care builds between providers and caretakers<i> (Member’s Love Us).</i>
        I also created a collaborative study focusing on guided engagement for incoming product members.</p>
        
    <section id="whatsgoingwell" class="casestudy-container">
    <div id="whatsGoingWell" class="whatsgoingwell-headerTextContainer">
        <h4>What's going well?</h4>
        <section>
        <div class ="twoColumn">
            <div class="columnedTextContainer">
                <b>1/ Member Love</b>
                <p class="graySubText">Families are returning and enjoying their sessions when they and their provider are on the same page. This includes timely intake completion and full use of the allotted session time.</p>
            </div>
            <div class="columnedTextContainer">
                <b>2/ Provider Love</b>
                <p class="graySubText">As our provider care tools are being updated, our care team is finding their clinical hours less overwhelming and stressful, especially as they are meeting them in their existing workflows.</p>
            </div>
        </div>
        </section>
    </div>
    <div id="whatsNotGoingWell" class="whatsgoingwell-headerTextContainer">
        <h4>What's not going so well?</h4>
        <section>
        <div class ="threeColumn">
            <div class="columnedTextContainer">
                <b>1/ Too Many Tools</b>
                <p class="graySubText">Content and paperwork enables care, but the process for finding and sharing it was too complex and relied on multiple members of our care team to share with a member and their family.</p>
            </div>
            <div class="columnedTextContainer">
                <b>2/ Hard to Find Content</b>
                <p class="graySubText">Our Digital Exercises and handouts were scattered across 5 different platforms. Poor discovery created duplicative material and workflows along with undesirability to utilize Brightline content.</p>
            </div>
            <div class="columnedTextContainer">
                <b>3/ Scheduling & Reminders</b>
                <p class="graySubText">Creating appointments and reminders is an overwhelming experience and reliant on our member support team, ultimately creating a forgetful and lacking experience.</p>
            </div>
        </div>
        </section>
    </div>
    </section>
    <div class="line"></div>
    <p class="graySpacedSectionHeader">ANALYZE QUARTERLY PROVIDER SURVEY</p>
    <div style="max-width: 50%;">
        <p>Taking a deeper look at the metrics from our provider survey, we discovered that three key workflows were being hindered by the existing product experience.</p>
    </div>
    <div class="casestudy-container">
        <div class ="threeColumn">
            <div class="columnedTextContainer">
                <h1 style="margin-bottom: 0; color: #E2D3C8">1/2</h1>
                <p>of exercises/handouts were being assigned</p>
            </div>
            <div class="columnedTextContainer">
                <h1 style="margin-bottom: 0; color: #E2D3C8;">10-15</h1>
                <p>avg clicks to discover & share content</p>
            </div>
            <div class="columnedTextContainer">
                <h1 style="margin-bottom: 0; color: #E2D3C8">42%</h1>
                <p>of providers reported digital exercises as significant pain point</p>
            </div>
        </div>
    </div>
    <section class="casestudy-container48">
        <div class="twoColumn">
            <div class="textinTwoColumn">
            <h4>What does this mean?</h4>
            <p>For our providers, this implied a true reliance for existing material, adding to a dissatisfying and longer workflow with potential for inconsistency and errors.</p>
            <p>For our business, this implied a negative impact for long-term member and caregiver engagement, but identified a clear product opportunity.</p>
            </div>
            <img class ="twoColumnFullSizeImage" src={personThinking.src} height={personThinking.height} width={personThinking.width} />
        </div>
    </section> 
    <div class="line"></div> 
    <p class="graySpacedSectionHeader">CONDUCT MOCK COACHING SESSIONS</p>
    <div style="max-width: 50%;">
        <p>Due to patient privacy, the product team was not able to step into any sessions conducted with members in care. We could only go off of what we were hearing from both members and providers.</p>
    </div>
    <img class="fullSizeImagewMargin" src={mxCXchart.src} height={mxCXchart.height} width={mxCXchart.width} />  
        <div class="twoColumn">
            <div class="textinTwoColumn">
            <h4>How did we empathize with the user?</h4>
            <p>We conducted our own mock coaching sessions where my design manager and I took turns role playing a child and parent entering their intake session with situations in mind to really understand how coaches respond to an unideal session.</p>
            <p class="graySubText">This co-design methodology enabled us to get immediate feedback, guide our decisions, and best design for our targeted user group.</p>
            </div>
            <img class ="FullSizeImage" src={hamidandLeon.src} height={hamidandLeon.height} width={hamidandLeon.width}>
        </div>
    <div class="line"></div>
</section>
</div>