---
import rockimage from '../assets/homeimages/image 83.png';
import redimage from '../assets/homeimages/image 81.png';
import akira from '../assets/homeimages/image 80.png';
import blueimage from '../assets/homeimages/image 79.png';
import kayimage from '../assets/homeimages/image 78.png';


---

<style>

.full-container{
    padding: 3vh;
}

.colorSquare-container{
    display: flex;
    flex-direction: column;
    gap: .5px;
}

.colorSquare-container p{
    font-size: 12px;
}
.twoColumnContainer{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.colorSquresColumn{
    display: flex;
    flex-direction: column;
    gap: 16px;
}



.colorSquare{
width: 100px;
height: 100px;
background-color: black;
}



#brightlineSquare{
    background-color: #E2D3C8;
}

#msSquare{
background-color: #D8DEE4;
}

#HandshakeSquare{
    background-color: #D8E4D8;

}

#ytSquare{
    background-color: #E2C8C8;

}

#spotifySquare{
    background-color: #C8E2D9;
    

}

.deselectedSquare{
    opacity: 30%;
}

.deselectedText{
    color: #C0B5AF;
}

.containerImg{display: none;}

.imgLookAtMe{
    display: block;
}
</style>

<div class="full-container">
<div class="twoColumnContainer">
    <div class="colorSquresColumn">
        <div id="brightlineSquare-container" class="colorSquare-container">
            <p>Brightline</p>
            <div id="brightlineSquare" class="colorSquare"></div>
        </div>
        <div id="MicrsoftSquare-container" class="colorSquare-container">
            <p>Microsoft</p>
            <div id="msSquare" class="colorSquare"></div>
        </div>
        <div id="HandshakeSquare-container" class="colorSquare-container">
            <p>Handshake</p>
            <div id="HandshakeSquare" class="colorSquare"></div>
        </div>
        <div id="YTShortsSquare-container" class="colorSquare-container">
            <p>YouTube Shorts</p>
            <div id="ytSquare" class="colorSquare"></div>
        </div>
        <div id="spotifySquare-container" class="colorSquare-container">
            <p>Spotify</p>
            <div id="spotifySquare" class="colorSquare"></div>
        </div>
    </div>
    <div class="bigImageContainer">
        <img class= 'containerImg' src={rockimage.src} width={rockimage.width} height={rockimage.height}>
        <img class= 'containerImg' src={redimage.src} width={redimage.width} height={redimage.height}>
        <img class= 'containerImg' src={akira.src} width={akira.width} height={akira.height}>
        <img class= 'containerImg' src={blueimage.src} width={blueimage.width} height={blueimage.height}>
        <img class= 'containerImg' src={kayimage.src} width={kayimage.width} height={kayimage.height}>

    </div>
</div>
</div>